@font-face{
    font-family: "raleway";
    src:url(Raleway/Raleway-VariableFont_wght.ttf);
}

a{
    color: inherit;
}

.growshadow {
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
  }

  .growshadow:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 3px 3px 3px #d9d9d9;
  }

*{
    box-sizing: border-box;
    margin-top: 0;
    text-decoration: none;
}

body{
    max-width: 1440px;
    text-decoration:none;  
    font-family: 'raleway';
}


    

h2{
    margin-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
}
h3{
    margin-bottom: 0;
}

.top-content-header{
    font-size: 24px;
}

.top-header{
    height: 5em;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3em;
    
}

.logo-area{
    width: 6rem;
    height: 3rem;
    align-self: end;
}

.logo {
    max-width: 100%;
}

#hebergements {
    margin-left: auto;
}

.nav-it {
    width: max-content;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column-reverse;
    margin-right: 1em;
    font-size: 18px;
}

#signup{
    color:#0065FC;
}

.nav-it:hover{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

#researchsection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}

#research-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 92%;
}

.searchbar{
    width: 100%;
    height:3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2em;
    align-items: center;
}

#searchbar-button::before {
    content: "Rechercher";
    font-family: 'raleway';
    font-size: 14px;
}

#searchbar-logo{
    font-size: 1.35rem;
    width: 2.45em;
    height: 100%;
    text-align: center;
    border-radius: 20px 0 0 20px;
    background-color: #F2F2F2;
    padding-right: 3px;
}

#searchbar-icon{
    font-size:0;
}

#searchlogo{
    font-size: 1.30rem;
    margin-top: 26%;
    margin-left: 16%;    
}

#searchbar-input{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 26%;
    max-width: 40%;
    font-size: 1.25rem;
    height: 93%;
}

#searchbar-button{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    height: 100%;
    cursor: pointer;
    width: 30%;
    max-width: min-content;
}

#filters-section {
    width: 70%;
    display: flex;
    justify-content: space-between;

}

.filters-header {
    position: relative;
    top: 4px;
    font-size: 22px;
}

.--bluestar{
   color: #0065FC;
}

.--greystar{
    color:#d9d9d9;
}

.filters {
    display: flex;
    height: 50px;
    margin-right: auto;
    align-items: center;
    font-size: 1rem;
    border: 2px solid #d9d9d9;
    margin-top: .75rem;
    border-left: none;
    margin-left: 0.75em;
    border-radius: 25px;
    background-color: white;
}

.--filtersicon{
    align-self: center;
    padding-top: 1em;
    position: relative;
    left: -10px;
    background-color: #DEEBFF;
    color:#0065FC;
    height: 3em;
    width: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;
}

.filters-it {
    padding-right: 1em;
    font-size: 15px;
    font-family: 'raleway';
}


.filters > button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-filters{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

#resultsfooter{
    margin-top: 1em;
    margin-left: 1em;
}

#results-footer {
    margin-right: 0.75rem;
}

.--resultsicon{
    margin-right: 0.75rem;
    color:#0065FC;
    padding-top: 10px;
    border: 1px #d9d9d9 solid;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding-left: 15px;
}


/*HOSTing-all*/

#main-content{
    width: 100%;
    display: flex;
    flex-direction: column; 
}

#main-hosting{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 37rem;
    margin-bottom: 2rem;
    margin-bottom: 3em;
}

.hosts{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
border-radius: 28px;
}

.hosts-results{
    display: flex;
    height: 31rem;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    width: 100%;
}

#hosts-header{
    padding-left: 10px;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 1em;

}

#hosts-footer{
    padding-left: 29px;
}

.host-item{
        height: 40%;
        width: 30%;
        border-radius: 29px;
        box-shadow: 8px 14px 22px #0000002e;
        margin-right: 32px;
        margin-bottom: 28px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.host-img{
    height: 64%;
    object-fit: cover;
    width:100%;
}

.host-figure{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 29px 29px 0 0;
        padding:7px;
}

.host-description {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 7px;
}

#hosts-footer{
    font-weight: bold;
    font-size: 14px;
}

.card-header {
    font-size: 0.9rem;
    margin-left: 14px;
    font-weight: bold;
}

.card-description{
    font-size: 14px;
    margin-left: 7px;
    margin-bottom: 0;
    margin-top: 5px;
}

.card-rating{
    font-size: 11px;
    margin-left: 7px;
    margin-bottom: 0;
    margin-top: 5px;
}

.popular{
    width: 30%;
    height:37rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 28px;
}

.--popicon{
    margin-left: 2em;
    font-size: 1rem;
}

#pop-header{
    padding-top: 0.75rem;
    margin-right:59px;
}
.pop-section{
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
}

.pop-items {
    width: 85%;
    height: 30%;
    display:flex;
    border-radius: 16px;
    box-shadow: -1px 1px 0px 1px #F2F2F2;
    margin-bottom: 1em;
    background: white;
}

.--poptext, .pop-rating{
    padding-left: 7px;
}

.pop-header{
    font-size: 1rem;
}

.pop-rating{
    margin-top: 2em;
    font-size: 0.75rem;
}

.pop-description{
    margin-top: 1em;
    font-size: 0.75rem;
}
.pop-img{
    height: 100%;
    width: 45%;
    margin-right: 7px;
    min-width: 45%;
}

.pop-figure{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 6px 0px 6px 6px;
    border-radius: 18px 0 0 18px;
}


/*activities*/
.activities{
    height: 40rem;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

#activities-header {
    padding-left: 29px;
}

.act-section{
    display: grid;
    grid-template-columns: 19rem 19rem 19rem 19rem;
    grid-template-rows: 15rem 3rem 12rem;
    justify-content: space-between;
    width: 100%;
    height: 39rem;
    margin-top: 2em;
}

.act-items > h3{
    padding-top: 10px;
    text-align: initial;
}

.act-items{
    border-radius: 20px 20px 20px 20px;
box-shadow: 8px 14px 22px #0000002e;
}

.act-figure{
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding: 5px 5px 0px 5px;
        border-radius: 20px 20px 0 0;
}

#act-1{
    grid-column: 1;
    grid-row: 1 / 4;
}
#act-2-img, #act-3-img, #act-5-img, #act-6-img{
    height: 81%;
}

#act-1-img, #act-4-img{
    height:91%;
}

#act-2{
    grid-column: 2;
    grid-row: 1 /2;
}

#act-3{
    grid-column: 2;
    grid-row: 3;
}

#act-4{
    grid-column: 3;
    grid-row: 1 / 4;
}

#act-5{
    grid-column: 4;
    grid-row: 1;
}

#act-6{
    grid-column: 4;
    grid-row: 3;
}

.main-footer{
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    text-align: start;
    background-color: #f2f2f2;
    height: 15rem;

}

.section-footer{
    height: max-content;
    width: max-content;

}

.foot-ele{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-right: 7em;
    padding-top: 2em;
    padding-left: 1em;
}


.foot-it{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-size: 0.85rem;
}
@media screen and (max-width:501px) {
    body{
        max-height: inherit;
    }
    
    .top-header{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;    
    }

    .logo-area{
        padding-top: 10px;
    }

    #host-nav-it{
            font-size: 14px;
            text-align: end;
    }

    .top-content-header {
        font-size: 21px;
    }

    #hebergements, #activites{
        border-bottom: 2px solid #F2F2F2;
    }

    #hebergements{
        width: 100%;
        text-align: center;
        padding-right: 30px;
        justify-content: center;
        margin-top: 18px;
        align-items: center;
    }

    #activites{
        width:100%;
        justify-content: center;
        margin-top: 18px;
    }
    #researchsection{
        margin-bottom: 8rem;
        width:98%;
    }

    #act-nav-it {
        text-align: center;
        font-size: 14px;
    }

    #signup:hover{
        border-top: inherit;
        border-bottom: inherit;
    }

    #signup-nav-it{
        font-size: 16px;
    }
    
    #hebergements, #activites:hover{
        color:#0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: inherit;
    }

    #signup{
        grid-column: 2;
        grid-row: 1;
        justify-self: flex-end;
    }

    #activities{
        width: 100%;
        text-align: center;
    }

    #research-description{
            font-size: 14px;
    }

    
    #activities-header {
        text-align: start;
        padding-left: 0px;
    }

    

    #research-header{
        align-self: center;
        width: 88%;
    }

    .searchbar{
        align-self: center;
        margin-top: 1rem;
        align-self: flex-start;
        width: 100%;
    }


    #searchbar-input{
        width: 40%;
        font-size: 1rem;
    }

    #searchbar-button::before{
        font-family: "FontAwesome";
        content: "\f002";
        font-weight: 400;
        font-size: 15px;
        visibility: visible;
        display: flex;
        justify-content: center;
    }

    #searchbar-button{
        width: 11%;
        border-radius: 1rem 1rem 1rem 1rem;
    }

    #search-filters{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        width: 87%;
        margin-top: 1rem;
    }

    #filters-section{
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        margin-bottom: 1em;
    }

    .filters-header{
        font-size: 16px;
    }

    .filters-it{
        font-size: 13px;
        font-weight: 350;
        font-family: 'raleway';
    }
    
    #resultsfooter{
        font-size: 12px;
        display: flex;
        width: 82%;
    }

    .--resultsicon{
        height: 21px;
        width: 23px;
        padding-left: 8px;
        padding-top: 5px;
        font-size: 8px;
    }

    #main-hosting{
        display:flex;
        flex-direction: column-reverse;
        margin-bottom: 3rem;
        height:110rem; /*100*/
    }

    #hosts{
        display:flex;
        flex-direction: column;
        width: 100%;
        justify-content: inherit;
        box-sizing: border-box;
        background-color: inherit;
    }


    .card-header{
        margin-left: 14px;
    }

    .--poptext{
        margin-top: 1em;
    }

    #popular{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        height: 29%;
        border-radius: inherit;
        align-items: flex-start;
        margin-bottom: 63px;
    }

    #pop-header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 97%;
        font-size: 22px;
        margin-bottom: 25px;
    }

    .pop-caption{
        margin-left:7px;
        margin-top: 5px;
    }

    #hosts-header{
        font-size: 22px;
        padding-left: 0px;
    }

    .--popicon{
        font-size: 23px;
    }

    .pop-section{
        justify-content: inherit;
    }

    .pop-items {
        width: 13rem;
        height: 8.5rem;
        width: 100%;
        margin-bottom: 17px;
        background: white;
    }

    .pop-rating{
        margin-top: auto;
    }

    .pop-description{
        display: flex;
        flex-direction: column;
        
    }

    #main-content{
        display: flex;
        flex-direction: column;
        height: 193rem; /*180*/
        justify-content: inherit;
    }

    .host-item{
        width: 100%;
        box-sizing: border-box;
        height: 11rem;
        align-self: center;
        box-shadow: inherit;
    }

    .host-img{
        width: 100%;
        padding: inherit;
        height:60%;
    }

    .card-description{
        font-size: 13px;
    }
        
    .card-rating{
        font-size: 10px;
    }

    .hosts-results {
        flex-direction:column;
        height: 96%; /*90% modif*/
    }

    #activities{
        height: 77rem;

    }
    .act-section{
        display:flex;
        flex-direction: column;
        height: 75rem;
    }

  
    #act-1-img, #act-4-img, #act-2-img, #act-3-img, #act-5-img, #act-6-img {
        height:70%;
    }

    .act-items{
        height: 11rem;
        box-shadow: inherit;
    }

    .act-items > h3 {
        padding-top: 7px;
        text-align: start;
        padding-left: inherit;
    }

    .main-footer{
        display: flex;
        flex-direction: column;
        height: 30rem;
        justify-content: inherit;
        margin-top: 2em;
    }

    .foot-ele{
        margin-bottom: 1rem;
        width: 80%;
        padding-left: 1.5em;
    }

}

    @media screen and (min-width:501px) and (max-width:800px){
    body{
        max-height: inherit;
    }
    
    .top-header{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;    
    }

    .logo-area{
        padding-top: 10px;
    }

    #host-nav-it{
            font-size: 17px;
            text-align: end;
    }

    .top-content-header {
        font-size: 21px;
    }

    #hebergements, #activites{
        border-bottom: 2px solid #F2F2F2;
    }

    #hebergements{
        width: 100%;
        text-align: center;
        padding-right: 30px;
        justify-content: center;
        margin-top: 18px;
        align-items: center;
    }

    #activites{
        width:100%;
        justify-content: center;
        margin-top: 18px;
    }
    #researchsection{
        margin-bottom: 3rem;
        width:98%;
    }

    #searchbar-input{
        width:40%
    }

    #act-nav-it {
        text-align: center;
        font-size: 17px;
    }

    #signup:hover{
        border-top: inherit;
        border-bottom: inherit;
    }

    #signup-nav-it{
        font-size: 16px;
    }
    
    #hebergements, #activites:hover{
        color:#0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: inherit;
    }

    #signup{
        grid-column: 2;
        grid-row: 1;
        justify-self: flex-end;
    }

    #activities{
        width: 100%;
    }

    #activities-header {
        padding-left: 12px;
    }

    #signup{
        grid-column: 2;
        grid-row: 1;
        justify-self: flex-end;
    }

    #logo{
        width: 70%;
        height: 80%;
    }

    #hebergements{
        margin-left: inherit;
    }

    .nav-it{
        margin-left: 0.5em;
    }

    #logo-area{
        width: 6rem;
        height: 3rem;
        align-self: end;
        margin-right: auto;
    }

    .pop-rating{
        padding-top: inherit;
    }

    .searchbar{
        align-self: center;
        margin-top: 1rem;
        align-self: flex-start;
    }

    #searchbar-button::before {
        content:"Rechercher";
        font-family: 'raleway';
        font-size: 14px;
    }

    #search-filters{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin-top: 1rem;
    }

    #filters-section{
        flex-wrap: wrap;
        display: flex;
        width: 100%;
    }
   
    #main-hosting{
        display:flex;
        flex-direction: column-reverse;
        margin-bottom: 3rem;
        height: 144rem;
        justify-content: flex-end;
    }

    #hosts{
        display:flex;
        flex-direction: column;
        height: 44%;;
        width: 100%;
        justify-content: flex-start;
        box-sizing: border-box;
        background-color: inherit;
       
    }

    #popular{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        height: 23%;
        align-items: inherit;
    }

    #pop-header{
        font-size: 22px;
        margin-bottom: 1em;
        display: flex;
        justify-content: space-between;

    }

    .pop-section{
        flex-direction: column;
        width: 100%;
        justify-content: center;

    }

    .pop-items {
        width: 13rem;
        height: 8rem;
        width: 90%;
        align-self: center;
        max-width: 30rem;
        background: white;
    }

    .pop-caption {
        margin-left: 7px;
        margin-top: 3px;
    }

    #main-content{
        display: flex;
        flex-direction: column;
        height: 143rem;
        justify-content: inherit;
    }

    .host-item{
        width: 46%;
        box-sizing: border-box;
        height: 13rem;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: inherit;
        margin-bottom: inherit;
    }

    .host-img{
        padding: inherit;
        width:100%;
    }

    .card-header{
        margin-left: 20px;
    }

    .host-description{
        margin-left: 12px;
    }

    .hosts-results {
        flex-flow: inherit;
        height: 47rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .host-description{
        align-self: flex-start;
        margin-top: 4px;
    }
    
    .card-rating{
        font-size:10px;
    }
    
    .card-description{
        font-size:13px;
    }

    .act-section{
        display:flex;
        flex-direction: row;
        height: 41rem;
        flex-wrap:wrap;
        justify-content: space-around;
        width:100%;
    }


    .activities{
        height: 45rem;
        margin-top: -70rem;
    }

    .act-items{
        width: 46%;
        align-self: center;
        height: 12rem;
    }

    #act-1-img, #act-4-img{
        height:81%;
    }


    .main-footer {
        display: flex;
        flex-direction: column;
        height: 28rem;
        width: 100%;
        margin-top: -19em;
    }

    .foot-ele{
        margin-bottom: 1rem;
        width: 30%;
    }
}

@media screen and (min-width:650px) and (max-width:800px){
    .pop-rating{
        padding-top: inherit;
    }

    #popular{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        height: 16%;
        margin-bottom: 1rem;
    }

    .pop-section{
        flex-direction: row;
        width: 100%;
    }


    .pop-items {
        width: 13rem;
        height: 15rem;
        width: 28%;
        align-self: center;
        max-width: 30rem;
        flex-direction: column;
        margin-right: 1em;
        background: white;
    }

    #pop-header{
        margin-right: auto;
    }

    #pop-ajust{
        margin-top:-6px;
    }

    .pop-img{
        width: 100%;
        height: 56%;

    }

    .pop-description{
        height: 10%;
    }

    .pop-figure{
        border-radius: 20px 20px 0 0;
    }

    .pop-rating, .pop-description{
        padding-left:7px;
    }

}



    @media screen and (min-width:501px) and (max-width:649px){
        .main-footer{
            margin-top: -8em;
        }
    
        #activities{
            margin-top:-70em;
        }
    
        #main-content{
            height:143rem;
        }
    
        #main-hosting{
            height:157rem;
        }
    
        .activities{
            margin-top: -60rem;}

    }

  

    @media all and (min-width:801px) and (max-width:1020px){

    #searchbar-button::before {
        content:"Rechercher";
        font-family: 'raleway';
        font-size: 14px;
    }

    .act-section{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }

    .act-items{
        width: 29%;
        height: 47%;
    }

    .pop-rating{
        padding-top: inherit;
    }

    .main-footer{
        margin-top: 2em;
    }
    
    }

        @media screen and (min-width:801px) and (max-width:1200px){  
            body{
                max-height: inherit;
            }
            
            .pop-rating{
                padding-top: inherit;
            }
        
            #searchbar-button::before {
                content:"Rechercher";
                font-family: 'raleway';
                font-size: 14px;
            }
        
            #searchbar-input{
                width:30%;
            }
        
            .sectionheader{
                padding-left: 27px;
            }
        
            #signup{
                grid-column: 2;
                grid-row: 1;
                justify-self: flex-end;
            }
        
            #hosts-footer{
                padding-bottom: 7px;
            }
        
            #logo{
                width: 70%;
                height: 80%;
            }
        
            #hebergements{
                margin-left: inherit;
            }
        
            .nav-it{
                margin-left: 0.5em;
            }
        
            #logo-area{
                width: 6rem;
                height: 3rem;
                align-self: end;
                margin-right: auto;
            }
        
          
        
            .searchbar{
                align-self: center;
                margin-top: 1rem;
                align-self: flex-start;
            }
        
            #search-filters{
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                width: 90%;
                margin-top: 1rem;
            }
        
            #filters-section{
                flex-wrap: wrap;
                display: flex;
                width:90%;
            }
        
            .section-header{
                padding-left: 30px;
            }
           
            #main-hosting{
                display:flex;
                flex-direction: column-reverse;
                margin-bottom: 3rem;
                height: 132rem;
                justify-content: flex-end;
            }
        
            #hosts{
                display:flex;
                flex-direction: column;
                height: 40%;;
                width: 100%;
                justify-content: inherit;
                box-sizing: border-box;
                margin-top: 1em;
               
            }
        
            .hosts-results {
                flex-flow: inherit;
                    flex-wrap: inherit;
                height: 47rem;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        
            .host-item {
                width: 49%;
                box-sizing: border-box;
                height: 28%;
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: inherit;
                margin-bottom: inherit;
                align-self: center;
                margin-top: 1rem;
            }
        
            #popular{
                display: flex;
                flex-direction: column;
                width: 100%;
                box-sizing: border-box;
                height: 16%;
                margin-bottom: 1rem;
            }
        
            .pop-section{
                flex-direction: row;
                width: 100%;
        
            }
        
            .pop-caption{
                margin-left: 6px;
                margin-top: -7px;
            }
        
            .pop-items {
                width: 13rem;
                height: 15rem;
                width: 32%;
                align-self: center;
                max-width: 30rem;
                flex-direction: column;
                margin-right: 1em;
                background: white;
            }
        
            #pop-header{
                margin-right: auto;
                font-size: 21px;
                padding-left: 9px;
            }
        
            .pop-img{
                width: 100%;
                height: 56%;
        
            }
        
            .pop-description{
                height: 10%;
            }
        
            .pop-figure{
                border-radius: 20px 20px 0 0;
            }
        
            .pop-rating, .pop-description{
                padding-left:7px;
            }
            #main-content{
                display: flex;
                flex-direction: column;
                height: 130rem;
                justify-content: inherit;
            }
        
            
        
            .hosts-results {
                flex-flow: inherit;
                height: 96%;
                flex-direction: row;
                flex-wrap: wrap;
            }
        
            .host-img {
                padding: inherit;
                width: 100%;
                height:70%;
            }
        
            .host-description {
                align-self: flex-start;
                margin-top: 4px;
                padding-left: 13px;
            }
        
            .card-header{
                padding-left:12px;
            }
        
            .card-rating {
                font-size: 10px;
            }
        
            .card-description {
                font-size: 13px;
            }
        
            .act-section{
                display:flex;
                flex-direction: row;
                height: 41rem;
                flex-wrap:wrap;
            }
        
            .activities{
                height: 45rem;
                margin-top: -57rem;
            }
        
            .act-items{
                width: 49%;
                align-self: center;
                height: 12rem;
            }
        
            #act-1-img, #act-4-img{
                height:81%;
            }
        
            .main-footer{
                display: flex;
                flex-direction: row;
                height: 12rem;
                width:100%;
            }
        
            .foot-ele{
                margin-bottom: 1rem;
                width: 30%;
            }
        }

        @media screen and (min-width:1201px) and (max-width:1388px){
            .host-item{
                width:28%;
            }

        }

